@font-face {
    font-family: "Google";
    src: url("../fonts/google/Google.ttf");
}

* {
    font-family: Google;
}

.hidden {
    display: none;
}

body {
    background: lightskyblue;
}

.container {
    margin: auto;
    width: 600px;
    cursor: url(../img/mallet.png), auto;
}

.container:active {
    cursor: url(../img/mallet-2.png), auto;
}

h1 {
    text-align: center;
    font-size: 37px;
}

.poin {
    text-align: center;
    margin-bottom: 0;
    background-color: white;
    width: 50px;
    height: 55px;
    border: 2px solid black;
    margin: auto;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(000, 000, 000, .1);
}

h2 {
    margin-top: 4.5px;
}

.mulai {
    padding: 7px 25px;
    font-size: 18px;
    border-radius: 20px;
    border: 2px solid #000;
    outline: none;
    background-color: rgb(45, 209, 108);
    margin-bottom: 0;
}

.mulai:hover {
    transform: scale(1.15);
    transition: ease 0.3s;
    box-shadow: 1px 5px 10px rgba(000,000,000,.1);
    background-color: rgb(67, 233, 130);
}

.mulai:focus {
    transform: scale(1);
    transition: ease 0.3s;
    box-shadow: 1px 5px 17px rgba(000,000,000,.1);
    background-color: rgb(45, 209, 108);
}

.rumput {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.rumput::after {
    content: '';
    display: block;
    width: 200px;
    background: url(../img/grass.png) bottom center no-repeat;
    height: 110px;
    background-size: 60%;
    position: absolute;
    bottom: -39px;
}

.jenggot {
    width: 100%;
    height: 100%;
    background: url(../img/jenggot.png) bottom center no-repeat;
    position: absolute;
    background-size: 50%;
    top: 110px;
    transition: top 0.3s;
}

.rumput.muncul .jenggot {
    top: -21px;
}